<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <th:block th:insert="~{layout/fragments/resources}"></th:block>
  <!-- 화면별 추가 CSS 영역 -->
  <th:block layout:fragment="css"></th:block>
</head>

<body>
  <!-- 공통 header -->
  <th:block layout:fragment="header">
    <div th:replace="~{layout/fragments/header :: header}"></div>
  </th:block>

  <!-- 각 화면의 메인 콘텐츠가 들어갈 영역 (Vue 인스턴스 포함) -->
  <main class="main-container">
    <div layout:fragment="content"></div>
  </main>

  <!-- 공통 footer -->
  <div th:replace="~{layout/fragments/footer :: footer}"></div>

  <!-- 화면별 추가 스크립트 영역 -->
  <th:block layout:fragment="script"></th:block>
</body>

</html>